#                                        SENTIMENTAL ANALYSIS USING VADER

Dataset:https://www.kaggle.com/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews

In [1]:
#https://towardsdatascience.com/sentimental-analysis-using-vader-a3415fef7664
#Sentiment analysis is a text analysis method that detects polarity
#VADER ( Valence Aware Dictionary for Sentiment Reasoning) is a model used for text sentiment analysis that is sensitive to both
#polarity (positive/negative) and intensity (strength) of emotion. It is available in the NLTK package and can be applied directly
#to unlabeled text data.

In [4]:
import nltk
nltk.download('vader_lexicon')
#takes in a string and returns a dictionary of scores in each polarityfrom 
from nltk.sentiment.vader import SentimentIntensityAnalyzer #takes in a string and returns a dictionary of scores in each polarity

sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [5]:
#analyze some random statements

In [6]:
a = 'This was a good movie.'
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [7]:
a = 'This was the best, most awesome movie EVER MADE!!!'
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.425, 'pos': 0.575, 'compound': 0.8877}

In [8]:
import numpy as np
import pandas as pd

df = pd.read_csv("IMDB Dataset.csv")
df2 =df.head(1000)
df.size
df2.size
df2.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [9]:
df2['sentiment'].value_counts()

positive    501
negative    499
Name: sentiment, dtype: int64

In [10]:
# REMOVE NaN VALUES AND EMPTY STRINGS:
df2.dropna(inplace=True)

blanks = []  # start with an empty list

for i,lb,rv in df2.itertuples():  
    if type(rv)==str:            
        if rv.isspace():        
            blanks.append(i)     

df2.drop(blanks, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_23964\1261776880.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_23964\1261776880.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(blanks, inplace=True)

In [11]:
df2['scores'] = df2['review'].apply(lambda review: sid.polarity_scores(review))

df2.head()

C:\Users\user\AppData\Local\Temp\ipykernel_23964\720873781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['scores'] = df2['review'].apply(lambda review: sid.polarity_scores(review))

,review,sentiment,scores
0,One of the other reviewers has mentioned that ...,positive,"{'neg': 0.203, 'neu': 0.748, 'pos': 0.048, 'co..."
1,A wonderful little production. <br /><br />The...,positive,"{'neg': 0.053, 'neu': 0.776, 'pos': 0.172, 'co..."
2,I thought this was a wonderful way to spend ti...,positive,"{'neg': 0.094, 'neu': 0.714, 'pos': 0.192, 'co..."
3,Basically there's a family where a little boy ...,negative,"{'neg': 0.138, 'neu': 0.797, 'pos': 0.065, 'co..."
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"{'neg': 0.052, 'neu': 0.801, 'pos': 0.147, 'co..."

In [12]:
df2['compound']  = df2['scores'].apply(lambda score_dict: score_dict['compound'])

df2.head()

C:\Users\user\AppData\Local\Temp\ipykernel_23964\3281670276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['compound']  = df2['scores'].apply(lambda score_dict: score_dict['compound'])

,review,sentiment,scores,compound
0,One of the other reviewers has mentioned that ...,positive,"{'neg': 0.203, 'neu': 0.748, 'pos': 0.048, 'co...",-0.9951
1,A wonderful little production. <br /><br />The...,positive,"{'neg': 0.053, 'neu': 0.776, 'pos': 0.172, 'co...",0.9641
2,I thought this was a wonderful way to spend ti...,positive,"{'neg': 0.094, 'neu': 0.714, 'pos': 0.192, 'co...",0.9605
3,Basically there's a family where a little boy ...,negative,"{'neg': 0.138, 'neu': 0.797, 'pos': 0.065, 'co...",-0.9213
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"{'neg': 0.052, 'neu': 0.801, 'pos': 0.147, 'co...",0.9744

In [13]:
# Write a review as one continuous string (multiple sentences are ok)
review = 'The shoes I brought were amazing.'
# Obtain the sid scores for your review
sid.polarity_scores(review)

{'neg': 0.0, 'neu': 0.513, 'pos': 0.487, 'compound': 0.5859}

In [14]:
review='The mobile phone I bought was the WORST and very BAD'
sid.polarity_scores(review)

{'neg': 0.539, 'neu': 0.461, 'pos': 0.0, 'compound': -0.8849}